<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div class="container">
<h1>SUDOCU Backend home</h1>
<div class="btn-group-vertical">
  <a href="usuarios" class="btn btn-secondary">Permisos de usuarios</a>
  <a href="estado_toma" class="btn btn-secondary">Toma de usuarios</a>
  <a href="areas" class="btn btn-secondary">Areas y usuarios</a>
</div>
</div>
