<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div class="container">
<h1>Permisos</h1>
<table class="table">
<thead>
<tr>
<th>Usuario</th>
<th>email</th>
<th>Estado</th>
<th>Firma</th>
<th>Expedientes%></th>
</tr>
</thead>
<tbody>
<% for(u of usuarios){ %>
<tr>
<td><a href="<%=prefijo%>/usuario/<%= u.id %>">
    <%= u.apellido + ' ' + u.nombre %>
    </a></td>
<td><%= u.email %> </td>
<td><% if(u.normal) { %>
    <img src="<%=prefijo%>/static/si.png" height="32">
    <% } else { %>
    <span style="font-family: monospace">Diferente</span>
    <% if(config().permitir_modificacion) { %>
      <br>
      <a href="<%=prefijo%>/blanquear/<%= u.id %>">blanquear</a>
    <% } %>
    <% } %> </td>
<td><% if(u.firma) { %>
    <% if(config().permitir_modificacion) { %>
      <a href="<%=prefijo%>/quitarfirma/<%= u.id %>">
    <% } %>
    <img src="<%=prefijo%>/static/si.png" height="32">
    <% if(config().permitir_modificacion) { %>
      </a>
    <% } %>
    <% } else { %>
    <% if(config().permitir_modificacion) { %>
      <a href="<%=prefijo%>/darfirma/<%= u.id %>">
    <% } %>
    <img src="<%=prefijo%>/static/no.png" height="32">
    <% if(config().permitir_modificacion) { %>
      </a>
    <% } %>
    <% } %> </td>
<td><% if(u.expedientes) { %>
    <% if(config().permitir_modificacion) { %>
      <a href="<%=prefijo%>/quitarexpedientes/<%= u.id %>">
    <% } %>
    <img src="<%=prefijo%>/static/si.png" height="32">
    <% if(config().permitir_modificacion) { %>
      </a>
    <% } %>
    <% } else { %>
    <% if(config().permitir_modificacion) { %>
      <a href="<%=prefijo%>/darexpedientes/<%= u.id %>">
    <% } %>
    <img src="<%=prefijo%>/static/no.png" height="32">
    <% if(config().permitir_modificacion) { %>
      </a>
    <% } %>
    <% } %> </td>
</tr>
<% } %>
</tbody>
</table>
<a href="<%=prefijo%>/usuarios" class="btn btn-primary">Todos los usuarios</a>
</div>
