<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div class="container">

<h1>Toma de usuario</h1>

<% if(toma.tomado ==  'inconsistente') { %>
<div class="row">
<div class="alert alert-warning col-10">No se pudo determinar si hay cuenta tomada, hay algo inconsistente</div>
<div class="col-2"><a href="estado_toma"><img src="<%=prefijo%>/static/refrescar.png" width="50" title="Refrescar"></a></div>
</div>
<% } else if(toma.tomado) { %>
<%   if(toma.ok) { %>
<div class="row">
<div class="alert alert-info col-10">Cuenta tomada OK</div>
<div class="col-2"><a href="estado_toma"><img src="<%=prefijo%>/static/refrescar.png" width="50" title="Refrescar"></a></div>
</div>

<%   } else { %>
<div class="row">
<div class="alert alert-danger col-10">Estado Inconsistente</div>
<div class="col-2"><a href="estado_toma"><img src="<%=prefijo%>/static/refrescar.png" width="50" title="Refrescar"></a></div>
</div>
<%   } %>
<br><span>Apellido: <%= toma.apellido %></span>
<br><span>Nombre: <%= toma.nombre %></span>
<br><span>Email: <%= toma.email %></span>
<br><span>Tomada por: <%= toma.admin %></span>
<%   if(config().permitir_modificacion) { %>
<br><a href="<%=prefijo%>/devolver" class="btn btn-primary" title="Devolver el control de la cuenta al usuario y liberar la cuenta de mantenimiento">Devolver cuenta</a>
<%   } %>

<% } else { %>
<div class="row">
<div class="alert alert-info col-10">No hay ninguna cuenta tomada</div>
<div class="col-2"><a href="estado_toma"><img src="<%=prefijo%>/static/refrescar.png" width="50" title="Refrescar"></a></div>
</div>
<h2>Tomar cuenta</h2>
<form action="tomar_cuenta" method="post" autocomplete="on">
<label for="cuenta_tomar">Cuenta a tomar</label>
<input id="cuenta_tomar" type="text" name="cuenta_tomar">
<br><label for="quien_toma">¿Quién la toma?</label>
<select name="quien_toma" id="quien_toma">
  <option value="" default>Seleccione</option>
  <option>Fede</option>
  <option>Gisele</option>
  <option>Gustavo</option>
  <option>Seba</option>
</select>
<br> <button type="submit" class="btn btn-primary" title="Tomar cuenta de usuario para mantenimiento">Tomar</button>

</form>
<% } %>

</div>

